@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>In this website we collect the data of the user tthrough the register process.The users have to <b>resister</b> first and then have to login through their valid <b>username</b> and <b>password</b>.</p>
